/artifacts
/learning_primary/artifacts
/learning_advanced/artifacts
/contract_security/*/artifacts
/contract_security/artifacts
/learning_application/artifacts
/ethernaut/artifacts
/ethernaut_again/artifacts
/.deps
/.prettierrc.json
/sample_vote/artifacts